doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include ./email.css
        
    body 
        h2 Restablecer el password 
        p Hola, Has solicitado restablecer tu password, has click en el siguiente enlace para restablecerlo este enlace es temporal si se vence vuelve a solicitarlo
        a(href=`${urlReset}`) Ir a resetar el password
        p Si no puedes  acceder a este enlace, visita #{urlReset}
        p Si no solicitaste este E-mail, puedes ignorarlo 